.owl-carousel.owl-theme
	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/1.png'}
		%figcaption
			%span.name='Спальный гарнитур "Анита"'
			%span.price='134850 ₽'

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/2.png'}
		%figcaption
			%span.name='Спальный гарнитур "Валерия 40"'
			%span.price="68150 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/3.png'}
		%figcaption
			%span.name='Спальный гарнитур "Элиана"'
			%span.price="146450 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/4.png'}
		%figcaption
			%span.name='Спальный гарнитур "Венеция"'
			%span.price="108359 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/1.png'}
		%figcaption
			%span.name='Название товара'
			%span.price="цена"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/2.png'}
		%figcaption
			%span.name='Название товара'
			%span.price="цена"
