.owl-carousel.owl-theme
	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/1.png"}
		%figcaption
			%span.name= "Спальный гарнитур ''Анита''"
			%span.price="134850 ₽"

	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/2.png"}
		%figcaption
			%span.name="Спальный гарнитур ''Валерия 40''"
			%span.price="68150 ₽"

	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/3.png"}
		%figcaption
			%span.name="Спальный гарнитур ''Элиана''"
			%span.price="146450 ₽"

	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/4.png"}
		%figcaption
			%span.name="Спальный гарнитур ''Венеция''"
			%span.price="108359 ₽"

	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/1.png"}
		%figcaption
			%span.name="Название товара"
			%span.price="цена"

	%figure.item.mdl-shadow--2dp.mdl-color--grey-900
		%img.owl-lazy{"data-src": "/uploads/items/thumbs/2.png"}
		%figcaption
			%span.name="Название товара"
			%span.price="цена"

