%main.mdl-layout__content
	.jcarousel-wrapper
		.jcarousel{ 'data-jcarousel': 'true' }
			%ul.clearfix
				%li
					= image_tag('carousel/1.jpg')
				%li
					= image_tag('carousel/2.jpg')
				%li
					= image_tag('carousel/3.jpg')

		%a.jcarousel-control-prev.mdl-color--amber-900{ 'data-jcarouselcontrol': 'true' }
			%i.material-icons.mdl-list__item-icon keyboard_arrow_left
		%a.jcarousel-control-next.mdl-color--amber-900{ 'data-jcarouselcontrol': 'true' }
			%i.material-icons.mdl-list__item-icon keyboard_arrow_right

		%p.jcarousel-pagination{ 'data-jcarouselpagination': 'true' }
			%a{ href: '#1' }
			%a.active{ href: '#2' }
			%a{ href: '#3' }

	%p#about
		Основными приоритетами компании являются ответственность в работе с клиентами, неизменно высокое качество и доступные цены.
		Наша большая цель - стать лучшими в Краснодаре.