#prodboard-container{"style":"min-width: 900px; height: 600px;"}
%script{"type":"text/javascript", "src":"http://kitchen.prodboard.com/inject/kuban_mebel/H8E6.js"}
:javascript
    $.smoothScroll({
        scrollElement: $('main'),
        scrollTarget: $('#about')
    });