%ul#catalogue.mdl-layout--small-screen-only.mdl-shadow--2dp{ 'data-collapsible': 'accordion' }
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--bed
				Спальни
		%section.collapsible-body.mdl-color--grey-850
			= render 'bedrooms'
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--kitchen
				Кухни
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i
				Прихожие
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--closet
				Шкафы-купе
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--bricks
				ЛДСП
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--sofa
				Диваны и кресла
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--livingroom
				Гостиные
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--table
				Столы и стулья
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

#bedrooms.category.mdl-card.mdl-color--grey-900.mdl-shadow--2dp.mdl-layout--large-screen-only
	.mdl-card__title
		%i.custom-icons--bed
		%h2.mdl-card__title-text Спальни
	= render 'bedrooms'

#kitchens.category.mdl-card.mdl-color--grey-900.mdl-shadow--2dp.mdl-layout--large-screen-only
	.mdl-card__title
		%i.custom-icons--kitchen
		%h2.mdl-card__title-text Кухни
	%span Здесь будут товары
