%ul.collapsible{ 'data-collapsible': 'accordion' }
	%li
		.collapsible-header
			%i.fa.fa-bed{ 'aria-hidden': 'true' }
			Спальни
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-cutlery{ 'aria-hidden': 'true' }
			Кухни
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			Прихожие
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			Шкафы-купе
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			ЛДСП
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			Диваны и кресла
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			Гостинные
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.fa.fa-sign-in{ 'aria-hidden': 'true' }
			Столы и стулья
		.collapsible-body
			%span Здесь будут товары