%ul#catalogue.mdl-shadow--2dp{ 'data-collapsible': 'accordion' }
	%li#bedrooms
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--bed
				Спальни
		.static-header
			.hoverWrapper
				%i.custom-icons--bed
				Спальни
		%section.collapsible-body.mdl-color--grey-850
			= render 'bedrooms'

	%li#kitchens
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--kitchen
				Кухни
		.static-header
			.hoverWrapper
				%i.custom-icons--kitchen
				Кухни
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i
				Прихожие
		.static-header
			.hoverWrapper
				%i
				Прихожие
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--closet
				Шкафы-купе
		.static-header
			.hoverWrapper
				%i.custom-icons--closet
				Шкафы-купе
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--bricks
				ЛДСП
		.static-header
			.hoverWrapper
				%i.custom-icons--bricks
				ЛДСП
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--sofa
				Диваны и кресла
		.static-header
			.hoverWrapper
				%i.custom-icons--sofa
				Диваны и кресла
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--livingroom
				Гостиные
		.static-header
			.hoverWrapper
				%i.custom-icons--livingroom
				Гостиные
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары

	%li
		.collapsible-header
			.hoverWrapper
				%i.custom-icons--table
				Столы и стулья
		.static-header
			.hoverWrapper
				%i.custom-icons--table
				Столы и стулья
		%section.collapsible-body.mdl-color--grey-850
			%span Здесь будут товары
