%ul#catalogue.collapsible.mdl-layout--small-screen-only{ 'data-collapsible': 'accordion' }
	%li
		.collapsible-header
			%i
			Спальни
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.icons-kitchen
			Кухни
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Прихожие
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Шкафы-купе
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			ЛДСП
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.icons-sofa
			Диваны и кресла
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Гостинные
		%section.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Столы и стулья
		%section.collapsible-body
			%span Здесь будут товары