%ul.collapsible{ 'data-collapsible': 'accordion' }
	%li
		.collapsible-header
			%i
			Спальни
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.icons-kitchen
			Кухни
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Прихожие
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Шкафы-купе
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			ЛДСП
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i.icons-sofa
			Диваны и кресла
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Гостинные
		.collapsible-body
			%span Здесь будут товары
	%li
		.collapsible-header
			%i
			Столы и стулья
		.collapsible-body
			%span Здесь будут товары