.bundle
log/*
tmp/*
!log/.keep
!tmp/.keep
Gemfile.lock

db/*
!db/.keep

!public/assets
public/assets/*
!public/uploads
public/uploads/*
!public/uploads/items
public/uploads/items/*
!public/uploads/items/images
public/uploads/items/images/*
!public/uploads/items/thumbs
public/uploads/items/thumbs/*
!public/uploads/categories
public/uploads/categories/*
!public/uploads/images
public/uploads/images/*