.bundle
log/*
tmp/*
!log/.keep
!tmp/.keep

db/*
!db/.keep
public/uploads/*
!public/uploads/.keep
!public/uploads/items/.keep
!public/uploads/items/images/.keep
!public/uploads/items/thumbs/.keep
!public/uploads/categories/.keep
!public/uploads/images/.keep
Gemfile.lock
public/assets