/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/yarn-error.log

.byebug_history

/db/*
!/db/.keep
/public/uploads/*
!/public/uploads/.keep
!/public/uploads/items/.keep
!/public/uploads/items/images/.keep
!/public/uploads/items/thumbs/.keep
!/public/uploads/categories/.keep
Gemfile.lock
