%table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %tbody

    %tr
      %th.mdl-data-table__cell--non-numeric Цена
      %td= "0 рублей"

    %tr
      %th.mdl-data-table__cell--non-numeric Тип
      %td Модульный

    %tr
      %th.mdl-data-table__cell--non-numeric Что-то ещё
      %td Пример