.mdl-layout-title
	small
		align-items: center !important

.buttons-wrapper
	display: flex
	justify-content: center
	.mdl-button
		color: #FFF
		margin: 10px !important
		display: flex
		align-items: center
		justify-content: center
