.adminDialog
	max-width: 800px !important
	.mdl-dialog__actions
		.close
			background-color: #ff6f00
			color: #FFFFFF
		button
			color: #000000
	.add_files
		display: flex
		flex-direction: column
		align-items: center
		padding: 24px
		.entity-list
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			div
				img
					height: 160px
					width: auto

.mdl-layout-title
	small
		align-items: center !important

.file_input_div
	display: flex
	align-items: center
	.file_input
		float: left
		input
			display: none
	.file_input_text_div
		width: 200px
		margin-left: 5px
		margin-right: 6px
		input
			color: #000

.buttons-wrapper
	display: flex
	justify-content: center
	.mdl-button
		color: #FFF
		margin: 10px !important
		display: flex
		align-items: center
		justify-content: center

.item .buttons-wrapper
	margin-top: -60px
