.adminDialog
	max-width: 800px !important
	.dialog-wrapper
		@media screen and (max-width: 800px)
			.my-dialog__title, .dialog-component, .mdl-dialog__content
				margin: 12px 0 !important
		@media screen and (min-width: 800px)
			.my-dialog__title, .dialog-component
				margin: 24px 0 !important
		.my-dialog__title
			background-color: #FFFFFF
			justify-content: center !important
			padding: 32px 16px !important
		.mdl-dialog__actions
			padding: 0 0 24px
			@media screen and (max-width: 800px)
				padding: 0 0 12px
		.add_files
			display: flex
			flex-direction: column
			align-items: center
			padding: 24px
			h4
				margin-top: 0
			form
				display: flex
				flex-direction: column
				align-items: center
				margin-top: 24px
				input.mdl-button--raised
					width: auto
					height: 48px
			.entity-list
				width: 100%
				height: auto
				display: flex
				flex-wrap: wrap
				justify-content: space-around
				div
					display: flex
					width: 100%
					height: auto
					.buttons-wrapper
						margin-right: -100%
						align-self: center
						.mdl-button
							background-color: rgba(0, 0, 0, 0.35)
					img
						height: 100%
						width: 50%
					p
						width: 50%
						text-align: center
						align-self: center
						font-size: 20px
						margin: 0

.mdl-layout-title
	small
		align-items: center !important
	form
		display: flex
		.mdl-textfield
			width: 60%
			&.is-focused, &.is-dirty
				label
					color: rgb(33,33,33) !important
			label
				color: #ffffff !important
		input
			margin-left: 0

.file_input_div
	display: flex
	align-items: center
	.file_input
		float: left
		input
			display: none
	.file_input_text_div
		width: 200px
		margin-left: 5px
		margin-right: 6px
		input
			color: #000

.buttons-wrapper
	display: flex
	justify-content: center
	.mdl-button
		color: #FFF
		margin: 10px
		display: flex
		align-items: center
		justify-content: center

.item .buttons-wrapper
	position: absolute
	top: 24%
	@media screen and (width: 320px)
		top: 21%
	.mdl-button
		background-color: rgba(0, 0, 0, 0.35)
		margin: 0 18px

#about.admin
	height: auto
	min-height: 300px
	.infoblock-wrapper
		background-color: transparent
		height: auto
		margin: 0 !important
		padding: 0 24px !important
		h5
			color: #FFFFFF
			margin: 24px
		.mdl-button
			float: right
			margin: 24px 12px

iframe
	color: #212121 !important