.mdl-layout__header
	.mdl-menu__container
		.mdl-menu__outline
			background-color: #3A3A3A
		.mdl-menu__item
			width: 122px
			color: #FFF
			text-decoration: none
			font-family: Futuris
			font-size: 16px
			&:hover
				background-color: #FF6600
				color: #212121

	.mdl-navigation
		padding: 0 30px 0 0 !important
		button, a.mdl-button
			color: #FFF
			font-size: 17px
			cursor: default
			&.mdl-button--hover.is-activated
				border-bottom-left-radius: 0
				border-bottom-right-radius: 0
				background-color: #3A3A3A
		.mdl-menu__outline
			margin-left: 0
			border-top-left-radius: 0
			border-top-right-radius: 0
		#catalogueMenu .mdl-menu__outline
			width: 154px !important
		#aboutMenu .mdl-menu__outline
			width: 152px !important

#slider
	margin-bottom: 0 !important
	margin-top: 0
	@media screen and (max-height: 767px) and (min-width: 1352px)
		margin-top: -118px
	.slick-prev,.slick-next
		z-index: 1
		position: absolute
		margin-top: -25px
		width: 45px
		height: 45px
		overflow: hidden
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
		@media screen and (max-width: 480px)
			width: 30px
			height: 30px
		&::before
			display: none
	.slick-prev
		left: 0
		background: url('/assets/carousel/left.png') no-repeat center center #FF6600
	.slick-next
		right: 0
		background: url('/assets/carousel/right.png') no-repeat center center #FF6600
	.slick-dots
		bottom: 10px !important
		@media screen and (max-width: 480px)
			bottom: 0px !important
		li
			button:before
				font-size: 13px
				opacity: 1
				color: #FFF
			&.slick-active
				button:before
					opacity: 1
					color: #FF6600

.category
	width: auto !important
	margin-bottom: 5px
	padding: 20px
	h2
		font-size: 30px
		color: #FFF !important

.owl-carousel
	.owl-item
		display:  flex
		justify-content: center
		.item
			display: flex
			flex-direction: column
			align-items: center
			border-radius: 2px
			padding: 0
			margin:  10px
			width: 188px
			@media screen and (width: 320px)
				width: 134px
			img
				border-radius: 2px
			figcaption
				display: inherit
				flex-direction: inherit
				justify-content: space-around
				height: 100px
				padding: 6px 12px
				@media screen and (min-width: 320px) and (max-width: 400px)
					height: 80px
					padding: 8px 10px
				span
					color: #FFF
					&.name
						font-family: Roboto-Medium
						font-size: 16px
						@media screen and (min-width: 320px) and (max-width: 400px)
							font-size: 12px
					&.price
						font-family: Inconsolata-Regular
						font-size: 20px
						align-self: flex-end

						//background-color: #FF6600
						//border-bottom-right-radius: 2px
						//border-top-left-radius: 2px
						//padding: 6px
						//margin: -20px -12px

						@media screen and (min-width: 320px) and (max-width: 400px)
							font-size: 15px

ul#catalogue
	margin: 8px 0 0
	padding: 0 0 6px
	@media screen and (min-width: 1024px)
		padding: 0 0 1px
	li
		list-style-type: none
		@media screen and (min-width: 1024px)
			margin: 10px
		&.active
			@media screen and (max-width: 1023px)
				margin: 6px 0
		.collapsible-header
			display: none
			@media screen and (max-width: 1023px)
				display: flex
		.static-header
			display: flex
			//color: #FFF
			@media screen and (max-width: 1023px)
				display: none
		.collapsible-header, .static-header
			align-items: center
			justify-content: center
			font-size: 28px
			.title-wrapper
				padding: 2px 0
				min-width: 280px
				width: 50vw
				border-radius: 2px
				margin: 8px
				background-color: #2b2b2b
				display: flex
				justify-content: center
				align-items: center
			@media screen and (min-width: 1024px)
				background-color: #353535
				.title-wrapper
					background-color: transparent
			&.active
				background-color: #353535
				.title-wrapper
					background-color: transparent
		.collapsible-body
			padding: 0 !important
			@media screen and (min-width: 1024px)
				display: block !important
			.itemSlider
				margin-bottom: 70px
				.slick-dots
					margin-bottom: 0px !important
			h4.no_items
				margin: 0
				padding: 64px 0
				text-align: center
 
#about
	padding: 25px
	p
		font-size: 20px

.owl-dots
	display: block !important
