%footer.mdl-mega-footer
  .mdl-mega-footer__middle-section


    .mdl-mega-footer__drop-down-section
      %h1.mdl-mega-footer__heading ДЮК Мебель
      %ul.mdl-mega-footer__link-list
        %li
          %a.open__window{"data-id":"2","data-controller":"infoblocks","data-action":"edit"} О нас
        %li
          %a.open__window{"data-id":"3","data-controller":"infoblocks","data-action":"edit"} Оплата и доставка
        %li
          %a.open__window{"data-id":"4","data-controller":"infoblocks","data-action":"edit"} Связаться с нами
        %li
          %a.open__window{"data-id":"5","data-controller":"infoblocks","data-action":"edit"} Товары со скидкой


    .mdl-mega-footer__drop-down-section
      %h1.mdl-mega-footer__heading Ассортимент
      %ul.mdl-mega-footer__link-list
        - Category.all.to_a.each do |category|
          - if category.visibility == "1"
            %li
              %a.scrollLink{"id":"to_#{category.index}", "style":"cursor:pointer;"}= category.label


    .mdl-mega-footer__drop-down-section.mdl-layout--large-screen-only
      %a{"href":"/constructor/#prodboard-container", "style":"text-decoration:none"}
        %h1.mdl-mega-footer__heading{"style":"color:greenyellow"} 3D Конструктор


    .mdl-mega-footer__bottom-section
      %ul.mdl-mega-footer__link-list
        %li
          %a.scrollLink#to_page_top Наверх
        %li
          %a{"href":"/"} Главная страница