!!! 5

%title ДЮК Мебель: управление
= csrf_meta_tags
%meta{ name:'viewport', content:'width=device-width, initial-scale=1.0, minimum-scale=1.0' }
= render 'layouts/assetTags'

%body

	.mainLayout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		%header.mdl-layout__header
			.mdl-layout__header-row
				= link_to image_tag('testlogo.jpg', border: 0), '/'

				%span.mdl-layout-title
					%h4
						Панель администрирования
					%small
						Альфа-версия

			.mdl-layout__tab-bar.mdl-js-ripple-effect
				%a.mdl-layout__tab{ href: '#tab1' } Категории
				%a.mdl-layout__tab.is-active{ href: '#tab2' } Товары

		%main.mdl-layout__content
			= yield
